# Ignore SRA files downloaded from GEO
*.sra

# Ignore sequencing files
*.fastq
*.fastq.gz
*.bam
*.sam

# Ignore credentials
LICENSE

# Ignore trimmomatic tools
Trimmomatic-0.39/

# ignore log giles
data/02_intermediate/*.txt

# Ignore zip
*zip

# Ignore multiQC report (folder)
data/02_intermediate/multiqc_data_1/*

# Ignore test file
test/*

